.subMains {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #f9f9f9;
}



 .reviewTable {
  margin-bottom: 20px;
  width: 1100px;
  border-collapse: collapse;
  background-color: #fff;
 }

 .reviewTable td,
 .reviewTable th {
   border-bottom: 1px solid #ccc;
   padding: 12px;
   font-size: 15px;
   text-align: center;
 }

 tr.reviewHeader {
   background-color: rgb(218, 231, 255);
   font-weight: bold;
 }

 tr.reviewBody {
   background-color: #fdfdfd;
   transition: background-color 0.2s ease;
 }


 tr.reviewBody:hover {
   background-color: #f1f6ff;
 }

 .title {
   text-align: left;

 }

 .review-title {
   text-align: left;
   padding-left: 10px;
   margin-bottom: 10px;
 }

 .review-wrapper {
   max-width: 100%;
   margin-right: 30px;
 }



 .reviewWrite-btn {
   margin-left: 1000px;
   margin-bottom: px;
   width: 100px;
   height: 40px;
   font-size: 15px;
   border: 0;
   border-radius: 5px;
   /* outline: 1.5px rgb(195, 205, 219) solid; */
   background-color: aqua;
   color: rgb(0, 0, 0);
   cursor: pointer;
   transition: background-color 0.2s ease;
 }



 .reviewWrite-btn:hover {  
   background-color: #467be4;
 }

 .reviewWrite-btn:active {
   background-color: rgb(225, 228, 233);
   outline: 1.5px rgb(27, 76, 155) solid;
 }



 .reviewPageNum {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* .reviewPageNum .pageNumber {
  padding: 8px 14px;
  font-size: 14px;
  border: none;
  background-color: #e0eaff;
  border-radius: 5px;
  cursor: pointer;
} */

.requestPageNum .pageNumber {
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}


.reviewPageNum .pageNumber:hover {
  color: #467be4;            /* 연한 파랑으로 강조 */
  font-weight: bold;         /* 굵게 */
  text-decoration: underline;/* 밑줄 표시 */
}


/* .reviewPageNum .pageNumber:hover {
  background-color: #6495ED;
  color: white;
  font-weight: bold;
} */


