* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .login-container {
    padding: 80px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }
  
  .login-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    padding-left: 4px;
  }
  
  .login-box {
    border: 1px solid #eee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
  }
  
  .login-input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s ease;
  }
  
  .login-input:focus {
    border-color: #00c7ae;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background: #00c7ae;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .login-btn:hover {
    background: #00b09b;
  }
  
  .sns-login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    margin: 20px 0 30px 0;
  }
  
  .sns-btn {
    width: 52px;
    height: 52px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    
  }
  
 #google img{
    margin-top: 8px;
    width: 78px;
    height: 78px;
  }

  .sns-btn img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
  }
  
  .sns-btn:hover {
    transform: scale(1.1);
  }
  
  .login-divider {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    padding-bottom: 14px;
    font-size: 14px;
    color: #888;
    text-align: center;
  }
  
  .login-links {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: gray;
    font-size: 14px;
    cursor: pointer;
  }
  
  .login-links span:hover {
    color: #00c7ae;
    text-decoration: underline;
  }
  
  .signup-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    background-color: #fafafa;
  }
  
  .signup-link {
    color: #00c7ae;
    font-weight: bold;
    margin-left: 4px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .signup-link:hover {
    color: #00a899;
  }